.video-convert{
    padding: 1em;
    &-openfs{
        display: flex;
        align-items: center;
        font-size: 0.8em;
        margin-bottom: 0.5em;
        &-path{
            margin-left: 2em;
        }
    }
}