.video-info{
    padding: 1em;
    box-shadow: 0 2px 8px #0001;
    border-radius: 8px;
    &-title{
        font-size: 1em;
        margin-bottom: 0.5em;
    }
    &-content{
        display: flex;
        font-size: 0.8em;
        color: #333;
    }
    &-base{
       margin-right: 2em
    }
    &-stream{
        display: flex;
    }
    &-item{
        margin-right: 2em
    }
}